{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h1>The Competitive Smartphones Market</h1>
    <div class="well">
        <p>With the rapid growth of technology in current market, Smart phones have become the essential components
            of our daily performance. This is becasue of growing speed of all decision-making processes in busines
            and our day-to-day life.
        </p>

        <p>Smartphones are getting really popular in today's world, it carries all the features of digital devices as
            well as a common phone features. Smartphones have become more degital compare to past few years, many people
            have replaced their computerized devices like laptops, personal computer to complete their office or school
            work from smartphones.
        </p>
    </div>

</div>

{% endblock %}
