{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h1>The Competitive Smartphones Market</h1>
    <div class="well">
        <p>With rapid growth of technology in current market, Smartphones have become the essential components
            of our daily performance. This is becasue of growing speed of all decision-making processes in busines
            and our day-to-day life.
        </p>

        <p>Smartphones are getting really popular in today's world, it carries all the features of digital devices as
            well as a common phone features. Smartphones have become more degital compare to past few years, many people
            have replaced their computerized devices like laptops, personal computer to complete their office or school
            work from smartphones.
        </p>
    </div>
    <!---Create Table--->
    <ul>
        <li>Worldwide smartphone sales from 2013-2017</li>
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">   </th>
            <th scope="col">Apple</th>
            <th scope="col">Samsung</th>
            <th scope="col">Huawei</th>
            <th scope="col">Lenovo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">2013</th>
            <td>444,472</td>
            <td>150,789</td>
            <td>53,296</td>
            <td>66,463</td>
        </tr>

        <tr>
            <th scope="row">2014</th>
            <td>307,596</td>
            <td>191,425</td>
            <td>68,080</td>
            <td>81,415</td>
        </tr>

        <tr>
            <th scope="row">2015</th>
            <td>320,219</td>
            <td>255,850</td>
            <td>104,094</td>
            <td>72,748</td>
        </tr>

        <tr>
            <th scope="row">2016</th>
            <td>306,446</td>
            <td>216,064</td>
            <td>132,824</td>
            <td>n/a</td>
        </tr>

        <tr>
            <th scope="row">2017</th>
            <td>321,263</td>
            <td>214,924</td>
            <td>150,534</td>
            <td>n/a</td>
        </tr>
        </tbody>
    </table>

</div>

{% endblock %}
